<nav>
  <h1><%= Settings.site.name %></h1>
  <button id="share">Share</button>
  <a id="about" href="https://github.com/xd547/stacktxt">About</a>
</nav>
<%= render "layouts/message" %>
<%= text_area(:share, :content, placeholder: "Put your text here...") %>